img {
  height: 20em;
  display: block;
}

h1 {
  font-family: sans-serif;
  color: pink
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: pink;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90vw;
}

.happy-games {
  color: red;
}